<html><hr>
<div class="container">
<div class="row">
    <div class="col-lg-6">
        <h2>Add a shoe</h2>
        <img routerLink="/admin" routerLinkActive="active-link"src="assets/img/Air-Jordan-1-Chicago-Reimagined-Photos-4.jpeg">
    </div>
    <div id="align-right"class="col-lg-6">
        <h2 id="align-center">View / Edit shoes</h2>
        <img id="img-id"routerLink="" routerLinkActive="active-link" src="assets/img/sneakers de lannee.webp">
    </div>
    
</div>
<div class="toggle"><mat-slide-toggle onclick="img();">Slide me!</mat-slide-toggle></div>
</div>
</html>
<script>
    function img(){
        document.getElementById("img-id").src
    }
</script>