
<hr>
<div class="container mt-4">
    <div class="row mt-4">
        <div class="col">
            <mat-card class="shoePictures">
                <img mat-card-image src="assets/img/shoe4.webp"
                    alt="Photo of a Shiba Inu">
            </mat-card>
        </div>
        <div class="col">
            <div class="row" id="shoeInfos">
                <div class="col">
                    <h2> {{this.brandName}} - {{this.shoeName}} </h2>
                    
                </div>
    
            </div>
            <div class="row">
                <div class="shoeOverallGrade mb-3">
                    <mat-card class="shoePictures">
                        <mat-card-content>
                                <div class="titre">
                                    <h1>Global rate </h1>
                                    <h4>
                                        Based on {{this.numberOfRate}} users rates
                                    </h4>
                                </div>
                                <span class="badge rounded-pill text-bg-{{this.badgeColor}}" id="rateBadge">
                                    {{this.totalGrade}}
                                </span>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
            <div class="shoeDetailsGrade ">
                <div class="cushionGrade mt-3">
                    <mat-card>
                        <mat-card-content>
                            <div class="row align-items-center">
                                <div class="col">
                                    <span class="align-middle">
                                        Cushion
                                    </span>
                                </div>
                                <div class="col">
                                    <div class="GradeProgressBar">
                                        <mat-progress-bar mode="determinate" value="{{this.amortiGradeAverageSlider}}"></mat-progress-bar>
                                    </div>
                                </div>
                                <div class="col">
                                    <span class="align-middle" id="cushion">
                                        {{this.amortiGradeAverage}}
                                    </span>
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>

                <div class="confortGrade mt-3">
                    <mat-card>
                        <mat-card-content>
                            <div class="row align-items-center">
                                <div class="col">
                                    <span class="align-middle">
                                        Confort
                                    </span>
                                </div>
                                <div class="col">
                                    <div class="GradeProgressBar">
                                        <mat-progress-bar mode="determinate" value="{{this.confortGradeAverageSlider}}"></mat-progress-bar>
                                    </div>
                                </div>
                                <div class="col">
                                    <span class="align-middle">
                                        {{this.confortGradeAverage}}
                                    </span>
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="durabiliteGrade mt-3">
                    <mat-card>
                        <mat-card-content>
                            <div class="row align-items-center">
                                <div class="col">
                                    <span class="align-middle">
                                        Sustainability
                                    </span>
                                </div>
                                <div class="col">
                                    <div class="GradeProgressBar">
                                        <mat-progress-bar mode="determinate" value="{{this.durabiliteGradeAverageSlider}}"></mat-progress-bar>
                                    </div>
                                </div>
                                <div class="col">
                                    <span class="align-middle">
                                        {{this.durabiliteGradeAverage}}
                                    </span>
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="designGrade mt-3">
                    <mat-card>
                        <mat-card-content>
                            <div class="row align-items-center">
                                <div class="col">
                                    <span class="align-middle">
                                        Design
                                    </span>
                                </div>
                                <div class="col">
                                    <div class="GradeProgressBar">
                                        <mat-progress-bar mode="determinate" value="{{this.designGradeAverageSlider}}"></mat-progress-bar>
                                    </div>
                                </div>
                                <div class="col">
                                    <span class="align-middle">
                                        {{this.designGradeAverage}}
                                    </span>
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="supportGrade mt-3">
                    <mat-card>
                        <mat-card-content>
                            <div class="row align-items-center">
                                <div class="col">
                                    <span class="align-middle">
                                        Support
                                    </span>
                                </div>
                                <div class="col">
                                    <div class="GradeProgressBar">
                                        <mat-progress-bar mode="determinate" value="{{this.maintienGradeAverageSlider}}"></mat-progress-bar>
                                    </div>
                                </div>
                                <div class="col">
                                    <span class="align-middle">
                                        {{this.maintienGradeAverage}}
                                    </span>
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="gripGrade mt-3">
                    <mat-card>
                        <mat-card-content>
                            <div class="row align-items-center">
                                <div class="col">
                                    <span class="align-middle">
                                        Grip
                                    </span>
                                </div>
                                <div class="col">
                                    <div class="GradeProgressBar">
                                        <mat-progress-bar mode="determinate" value="{{this.gripGradeAverageSlider}}"></mat-progress-bar>
                                    </div>
                                </div>
                                <div class="col">
                                    <span class="align-middle">
                                        {{this.gripGradeAverage}}
                                    </span>
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>
