<hr>
<div class="container">
<div class="espace-admin">
    <h1>Add shoe</h1>
    <hr>
</div>

<form class="example-form">
    
        
      <label >Model</label>
      <mat-form-field class="example-form-field" appearance="fill">
        <input matInput >
      </mat-form-field>
    
   
      <label>Brand</label>
      <mat-form-field class="example-form-field" appearance="fill">
        <input matInput  >
      </mat-form-field>

      <label>Picture</label>
      <mat-form-field>
        <ngx-mat-file-input>
        </ngx-mat-file-input>
     </mat-form-field>
   
    <div class="footer-form">
    <button type="submit" class="btn btn-dark">Add</button>
  </div>
</form>
</div>
