.espace-admin{
    margin-top:40px;
    margin-bottom: 100px;
}
.mat-form-field-wrapper{
    padding-bottom:0px;
}
h1{
    font-family: SharpGroteskMedium,Helvetica Neue,Arial,Lucida Grande,sans-serif;
font-size: 26px;
line-height: 1.5;
color: #000;
display: block;
}
.btn {
    width:200px;
}
.footer-form{
    margin-top:20px;
}
form{
    margin: auto;
    justify-content: center;
display: flex;
flex-direction: column;

    
  }

.form-check{
    margin-top:10px;
}
#new-client{
    margin-left:10px;
}
#new-inscr{
    color:#ff5401;
    cursor:pointer;
}
label{
    display:block;
}
input{
    width: 450px;
height: 30px;
}