<hr>
<div class="container">
    <div class="row" style="text-align: center;">
        <div class="col">
            <h2>
                {{shoeName}} - {{brandName}}
                <!-- {{shoeService.selectedShoe.brandName}} - {{shoeService.selectedShoe.shoeName}} -->
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5">
            <img mat-card-image [src]= "this.picturePath" [alt]= "shoeName">
        </div>
        <div class="col-lg-7">
            <form #rateForm="ngForm" (ngSubmit)="onSubmit(rateForm)">
                <div class="row">
                    <input type="hidden" name="_id">
                </div>
                <div class="row">
                    <input type="hidden" name="shoe_id" id="shoe_id" value="{{shoeId}}">
                </div>
                <div class="row">
                    <input type="hidden" name="user_id" id="user_id">
                </div>

                <div class="row">
                    <label>Amorti | Cushion</label>
                    <mat-slider thumbLabel tickInterval="1" step="1" min="0" 
                                           max="10" aria-label="units" id="amortiGrade" 
                                           name="amortiGrade" 
                    >
                    </mat-slider>
                </div>
                <div class="row">
                    <label>Confort</label>
                    <mat-slider thumbLabel tickInterval="1" step="1" min="0" 
                                           max="10" aria-label="units" id="confortGrade"
                                           name="confortGrade" 
                    >
                    </mat-slider>
                </div>
                <div class="row">
                    <label>Durabilité</label>
                    <mat-slider thumbLabel tickInterval="1" step="1" min="0"
                                           max="10" aria-label="units" id="durabiliteGrade"
                                           name="durabiliteGrade" 
                    >
                </mat-slider>
                </div>
                <div class="row">
                    <label>Design</label>
                    <mat-slider thumbLabel tickInterval="1" step="1" min="0"
                                           max="10" aria-label="units" id="designGrade"
                                           name="designGrade" 
                    >
                </mat-slider>
                </div>
                <div class="row">
                    <label>Maintien | Supports</label>
                    <mat-slider thumbLabel tickInterval="1" step="1" min="0"
                                           max="10" aria-label="units" id="maintienGrade" 
                                           name="maintienGrade" 
                    >
                </mat-slider>
                </div>
                <div class="row">
                    <label>Traction | Grip</label>
                    <mat-slider thumbLabel tickInterval="1" step="1" min="0"
                                           max="10" aria-label="units" id="gripGrade" 
                                           name="gripGrade" 
                    >
                    </mat-slider>
                </div>
            </form>
        </div>
    </div>
    <button id="center-btn" mat-raised-button color="dark" type="submit" (click)="onSubmit(rateForm)" >Submit</button>
</div>