<hr>
<div class="container">
    <div class="row">
        <div class="col-lg-5">
            <img src="assets/img/shoe1.png">
        </div>
        <div class="col-lg-7">
            <label>Cushion</label>
            <mat-slider thumbLabel tickInterval="1" step="1"min="0"max="10"aria-label="units"></mat-slider>

            <label>Confort</label>
            <mat-slider thumbLabel tickInterval="1" step="1"min="0"max="10"aria-label="units"></mat-slider>

            <label>Design</label>
            <mat-slider thumbLabel tickInterval="1" step="1"min="0"max="10"aria-label="units"></mat-slider>

            <label>Supports</label>
            <mat-slider thumbLabel tickInterval="1" step="1"min="0"max="10"aria-label="units"></mat-slider>

            <label>Grip</label>
            <mat-slider thumbLabel tickInterval="1" step="1"min="0"max="10"aria-label="units"></mat-slider>

        </div>
    </div>
    <button id="center-btn"mat-raised-button color="primary">Submit</button>
</div>
