<hr>
<div class="container">
    <div class="row" style="text-align: center;">
        <div class="col">
            <h2>
                {{shoeService.selectedShoe.brandName}}
            </h2>
        </div>
        <div class="col">
            <h2>
                {{shoeService.selectedShoe.shoeName}}
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5">
            <img src="assets/img/shoe1.png">
        </div>
        <div class="col-lg-7">
            <form >
                <div class="row">
                    <input type="hidden" name="_id">
                </div>
                <div class="row">
                    <label>Amorti | Cushion</label>
                    <mat-slider thumbLabel tickInterval="1" step="1" min="0" max="10" aria-label="units" id="amortiGrade" ></mat-slider>
                    <!-- <input type="range" name="" id="" min="0" max="10" step="1"> -->
                </div>
                <div class="row">
                    <label>Confort</label>
                    <mat-slider thumbLabel tickInterval="1" step="1" min="0" max="10" aria-label="units" id="confortGrade" ></mat-slider>
                </div>
                <div class="row">
                    <label>Durabilité</label>
                    <mat-slider thumbLabel tickInterval="1" step="1" min="0" max="10" aria-label="units" id="durabiliteGrade" ></mat-slider>
                </div>
                <div class="row">
                    <label>Design</label>
                    <mat-slider thumbLabel tickInterval="1" step="1" min="0" max="10" aria-label="units" id="designGrade" ></mat-slider>
                </div>
                <div class="row">
                    <label>Maintien | Supports</label>
                    <mat-slider thumbLabel tickInterval="1" step="1" min="0" max="10" aria-label="units" id="maintienGrade" ></mat-slider>
                </div>
                <div class="row">
                    <label>Traction | Grip</label>
                    <mat-slider thumbLabel tickInterval="1" step="1" min="0" max="10" aria-label="units" id="gripGrade" ></mat-slider>
                </div>
                <div class="row">
                    <input type="hidden" name="user_id" >
                </div>
                <div class="row">
                    <input type="hidden" name="shoe_id" >
                </div>

            </form>
        </div>
    </div>
    <button id="center-btn" mat-raised-button color="dark" type="submit" >Submit</button>
</div>