<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">

  <div class="carousel-inner">

    <div class="carousel-item active">

      <img src="../assets/img/carou1.jpg" class="d-block w-100" alt="...">

    </div>


    <div class="carousel-item">

      <img src="../assets/img/carou4.jpg" class="d-block w-100" alt="...">
    </div>

    <div class="carousel-item">
      <img src="../assets/img/carou3.jpg" class="d-block w-100" alt="...">
    </div>

  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<mat-grid-list cols="2" rowHeight="100px">
  <mat-grid-tile>
    <p id="catalog-home">Most popular</p>
  </mat-grid-tile>


</mat-grid-list>

<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <mat-list id="list-bottom" role="list" *ngFor="let shoe of shoeService.shoes" id="{{shoe._id}}">
        <mat-list-item class="no-wrap">
          <img id="img-home" mat-card-image [src]="shoe.image" [alt]="shoe.shoeName">
          <div>
            <p id="item-home">{{shoe.shoeName}}</p>
            <p id="sub-item-home">{{shoe.brandName}}</p>
          </div>
        </mat-list-item>
      </mat-list>
    </div>
    <div class="col-lg-4">

      <button *ngIf="isLogged()" routerLink="/shoes" routerLinkActive="active-link" mat-flat-button color="primary">See
        more</button>
      <button *ngIf="!isLogged()" routerLink="/login" routerLinkActive="active-link" mat-flat-button color="primary">See
        more</button>
    </div>
  </div>
</div>