
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  
    <div class="carousel-inner">
      
      <div class="carousel-item active">
        
        <img src="../assets/img/carou1.jpg" class="d-block w-100" alt="...">
        
      </div>
      
    
      <div class="carousel-item">
        
        <img src="../assets/img/carou4.jpg" class="d-block w-100" alt="...">
      </div>
      
      <div class="carousel-item">
        <img src="../assets/img/carou3.jpg" class="d-block w-100" alt="...">
      </div>
   
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  
  
  
  
  
  
  
  
  <mat-grid-list cols="2" rowHeight="100px">
      <mat-grid-tile> <p id="catalog-home">Top Rated</p></mat-grid-tile>
      
        
    </mat-grid-list>
    
    <div class="container">
    <mat-list role="list">
      <mat-list-item role="listitem"><img id="img-home"src="assets/img/shoe.png"><span id="item-home">Item 1</span></mat-list-item>
      <p id="sub-item-home">Sub-item</p>
      <hr>
      <mat-list-item role="listitem"><img id="img-home"src="assets/img/shoe.png"><span id="item-home">Item 1</span></mat-list-item>
      <p id="sub-item-home">Sub-item</p>
      <hr>
      <mat-list-item role="listitem"><img id="img-home"src="assets/img/shoe.png"><span id="item-home">Item 1</span></mat-list-item>
      <p id="sub-item-home">Sub-item</p>
      <hr>
    </mat-list>
  </div>
  