<hr>
<div class="container">
<div class="espace-cli">
  <div class="row">
    <div id="h1-div"class="col-lg-6">
    <h1>Shoes list</h1>
  </div>
  <div id="align-right"class="col-lg-6">
    <mat-form-field appearance="fill">
      <mat-label>Select</mat-label>
      <mat-select>
        <mat-option (click)="sortName()">Sort by <span id="bold-select">Name</span></mat-option>
        <mat-option (click)="sortBrand()">Sort by <span id="bold-select">Brand</span></mat-option>
      </mat-select>
    </mat-form-field>
  </div>
    
  </div>
  <hr>
</div>

  <!-- Mise en place de la boucle d'affichage des chaussures -->
  <mat-card class="example-card" *ngFor="let shoe of shoeService.shoes " id="{{shoe._id}}"> 
    <mat-card-header>
      <mat-card-title >{{shoe.shoeName}}</mat-card-title>
      <mat-card-subtitle>{{shoe.brandName}}</mat-card-subtitle>
    </mat-card-header>
    <!-- <p>Shoe picture path : {{shoe.image}}</p> -->
    <img mat-card-image [src]= "shoe.image" [alt]= "shoe.shoeName">  
    <mat-card-actions>
      <button *ngIf="!isLogged()" routerLink="/login" routerLinkActive="active-link"mat-raised-button color="primary">Rate</button>
      <button *ngIf="isLogged()" routerLink="/rating/{{shoe._id}}" routerLinkActive="active-link"mat-raised-button color="primary">Rate</button>
      <button routerLink="/shoe/{{shoe._id}}" routerLinkActive="active-link"mat-raised-button color="primary">See more</button>
  </mat-card-actions>
  </mat-card>
  
  

</div>