<div class="container">
<div class="espace-cli">
  <div class="row">
    <div id="h1-div"class="col-lg-6">
    <h1>Shoes list</h1>
  </div>
  <div id="align-right"class="col-lg-6">
    <mat-form-field appearance="fill">
      <mat-label>Select</mat-label>
      <mat-select>
        <mat-option (click)="sortName()">Sort by <span id="bold-select">Name</span></mat-option>
        <mat-option (click)="sortBrand()">Sort by <span id="bold-select">Brand</span></mat-option>
      </mat-select>
    </mat-form-field>
  </div>
    
  </div>
  <hr>
</div>
<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Nike Air Flight Lite Mid</mat-card-title>
      <mat-card-subtitle>Nike</mat-card-subtitle>
    </mat-card-header>
    <img id="bg-img"mat-card-image src="assets/img/shoe1.png"  alt="Photo of a nike shoe">
    
      <mat-card-actions>
        <button routerLink="/rating" routerLinkActive="active-link"mat-raised-button color="primary" disabled>Rate</button>
        <button routerLink="/shoe" routerLinkActive="active-link"mat-raised-button color="primary" disabled>See more</button>
    </mat-card-actions>
  </mat-card>  
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Jordan zion 1 duke</mat-card-title>
      <mat-card-subtitle>Jordan</mat-card-subtitle>
    </mat-card-header>
    <img id="bg-img"mat-card-image src="assets/img/shoe2.png" alt="Photo of a Shiba Inu">
    <mat-card-actions>
      <button routerLink="/rating" routerLinkActive="active-link"mat-raised-button color="primary"disabled>Rate</button>
      <button routerLink="/shoe" routerLinkActive="active-link"mat-raised-button color="primary"disabled>See more</button>
  </mat-card-actions>
  </mat-card> 
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Air Jordan 7 Retro Quai 54</mat-card-title>
      <mat-card-subtitle>Nike</mat-card-subtitle>
    </mat-card-header>
    
    <img id="bg-img"mat-card-image src="assets/img/shoe3-removebg-preview.png"  alt="Photo of a Shiba Inu">

    <mat-card-actions>
      <button routerLink="/rating" routerLinkActive="active-link"mat-raised-button color="primary"disabled>Rate</button>
      <button routerLink="/shoe" routerLinkActive="active-link"mat-raised-button color="primary"disabled>See more</button>
  </mat-card-actions>
  </mat-card> 
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Nike LeBron 19 Low</mat-card-title>
      <mat-card-subtitle>Nike</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/img/shoe4.webp" alt="Photo of a Shiba Inu">
    <mat-card-actions>
      <button routerLink="/rating" routerLinkActive="active-link"mat-raised-button color="primary"disabled>Rate</button>
      <button routerLink="/shoe" routerLinkActive="active-link"mat-raised-button color="primary"disabled>See more</button>
  </mat-card-actions>
  </mat-card> 
  <!-- Mise en place de la boucle d'affichage des chaussures -->
  <mat-card class="example-card" *ngFor="let shoe of shoeService.shoes.slice(0,3) " id="{{shoe._id}}"> 
    <mat-card-header>
      <mat-card-title >{{shoe.shoeName}}</mat-card-title>
      <mat-card-subtitle>{{shoe.brandName}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/img/shoe4.webp" alt="Photo of a Shiba Inu">
    <mat-card-actions>
      <button *ngIf="!isLogged()" routerLink="/login" routerLinkActive="active-link"mat-raised-button color="primary">Rate</button>
      <button *ngIf="isLogged()" routerLink="/rating/{{shoe._id}}" routerLinkActive="active-link"mat-raised-button color="primary">Rate</button>
      <button routerLink="/shoe/{{shoe._id}}" routerLinkActive="active-link"mat-raised-button color="primary">See more</button>
  </mat-card-actions>
  </mat-card>
  
  

</div>