<hr>
<div class="container mt-4">
    <div class="titre">
        <h1>Login page</h1>
        <hr>
    </div>
    <div class="container mt-3">
        <div class="loginForm">
            <form #loginForm = "ngForm" (ngSubmit)="submit(loginForm)">
                <div class="row">
                    <!-- login input -->
                    <mat-form-field appearance="legacy">
                        <label>Login</label>
                        <input matInput type="text" id="login" name="login" #login="ngModel" [(ngModel)]="authService.selectedUser.login" required>
                        <mat-hint>Before entering your login, please check that there is no space in the input. </mat-hint>
                    </mat-form-field>
                </div>
                <div class="row mt-4">

                    <!-- password input -->
                    <mat-form-field appearance="legacy">
                        <label>Password</label>
                        <input matInput type="password" name="password" #password="ngModel" [(ngModel)]="authService.selectedUser.password"  required>
                    </mat-form-field>
                </div>
                <div class="row mt-4" class="footer-form">
                        <button mat-raised-button color="dark" type="submit">Submit</button>
                        <button id="btn-align"mat-raised-button color="dark" type="reset">Reset</button>
        
                </div>
            </form>
        </div>
    </div>
</div>