<div class="container mt-4">
    <div class="aboutYou mt-4">
        <div class="row">
            <div class="col">
                <mat-card>
                    <mat-card-title>
                        <h2>About you</h2>
                        <hr>
                    </mat-card-title>
                    <mat-card-content>
                        <div class="row">
                            <div class="col">
                                <h2>Fullname</h2>
                            </div>
                            <div class="col">
                                <h4>
                                    {{getFullName()}}
                                </h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <h2>Login</h2>
                            </div>
                            <div class="col">
                                <h4>
                                    {{getLogin()}}
                                </h4>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
                <mat-card>
                    <mat-card-content>
                        <h2>Number of reviews given : <span id="nbre-avis">4/10 </span></h2>
                        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
    <br>
    <br>
    <hr><br>
    <div class="Rates mt-4 pb-4">
        <mat-card>
            <mat-card-title>
                <h2>Manage your rates : </h2>
            </mat-card-title>
                <div class="formUpdateRate  pb-4">
                    <form #updateForm="ngForm">
                        <div class="row">
                            <div class="col">
                                <input type="text" name="amortiGrade" id="amortiGrade" placeholder="Amorti Grade">
                            </div>
                            <div class="col">
                                <input type="text" name="amortiGrade" id="amortiGrade" placeholder="Confort Grade">
                            </div>
                            <div class="col">
                                <input type="text" name="amortiGrade" id="amortiGrade" placeholder="Desgin Grade">
                            </div>
                            <div class="col">
                                <input type="text" name="amortiGrade" id="amortiGrade" placeholder="Durabilite Grade">
                            </div>
                            <div class="col">
                                <input type="text" name="amortiGrade" id="amortiGrade" placeholder="Grip Grade">
                            </div>
                            <div class="col">
                                <input type="text" name="amortiGrade" id="amortiGrade" placeholder="Maintien Grade">
                            </div>        
                        </div>
                        <div class="row mt-4 ">
                            <div class="col-5">
                                
                            </div>
                            <div class="col-2">
                                <button mat-raised-button color="dark"  type="submit">Update</button>
                            </div>
                            <div class="col-5"></div>
                        </div>
                    </form>
                </div>
                <hr>        
        </mat-card>
        <!-- <mat-card *ngFor="let rate of this.ratesOfUser" class="mt-3"> -->
        <table class="table">
            <thead>
                <th>
                    <h2>
                        Shoe Name
                    </h2>
                </th>
                <th>
                    <h2>
                        Amorti Grade
                    </h2>
                </th>
                <th>
                    <h2>
                        Confort Grade
                    </h2>
                </th>
                <th>
                    <h2>Design Grade</h2>
                </th>
                <th>
                    <h2>Durabilite Grade</h2>
                </th>
                <th>
                    <h2>
                        Grip Grade
                    </h2>
                </th>
                <th>
                    <h2>
                        Maintien Grade
                    </h2>
                </th>
                <th>
                    <h2>
                        Update
                    </h2>
                </th>
                <th>
                    <h2>
                        Delete
                    </h2>
                </th>
            </thead>
            <tr *ngFor="let rate of this.ratesOfUser">
                
                <td>{{rate.shoe_name}}</td>
                <td>{{rate.amortiGrade}} / 10</td>
                <td>{{rate.confortGrade}} / 10</td>
                <td>{{rate.designGrade}} / 10</td>
                <td>{{rate.durabiliteGrade}} / 10</td>
                <td>{{rate.gripGrade}} / 10</td>
                <td>{{rate.maintienGrade}} / 10</td>
                <td>
                    <a class="action-btn" >
                        <i class="material-icons">edit</i>
                    </a>
                </td>
                <td>
                    <a class="action-btn" (click)="onDelete(rate._id)">
                        <i class="material-icons">delete</i>
                    </a>
                </td>
                
            </tr>
        </table>
        <!-- </mat-card> -->


    </div>
</div>