<body>
   
    <div class="container">
        <div class="main">
            
            <div class="row">
                
                <div class="col-md-8 mt-1">
                    <mat-card class="example-card">

                        <h1 class="m-3 pt-3">About you</h1>
                       <hr>
                        <div class="row">
                            <div class="col-md-3">
                                <mat-card-content>Full name</mat-card-content>
                                </div>
                                <div class="col-md-9 text-secondary">
                                    {{getFullName()}}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-3">
                                    <mat-card-content>Login</mat-card-content>
                                </div>
                                <div class="col-md-9 text-secondary">
                                    {{getLogin()}}
                                </div>
                            </div>
                            <hr>
                        </mat-card>
                    
                    <mat-card class="example-card2">
                        <h1 class="m-3">Mes évaluations :</h1>
                        <hr>
                        <div class="container">
                            <h2>Test retour Rate</h2>
                        <!-- <mat-card *ngFor="let rate of Rates$ | async">
                            <p>{{rate.user_id}}</p>

                        </mat-card> -->
                        <mat-card *ngFor="let rate of this.ratesOfUser">
                            <p> {{rate.user_id}}</p>
                        </mat-card>
                        </div>
                            <!-- <div class="row">
                                <div class="col-md-3">
                                    <mat-card-content>Nom du jsp</mat-card-content>
                                </div>
                                <div class="col-md-9 text-secondary">
                                    Description du jsp
                                </div>
                            </div> -->
                        
                    </mat-card>
                    
                </div>
                <div class="side-module">
                <h2>Number of reviews given : <span id="nbre-avis">4/10 </span></h2>
                <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>

                </div>


            </div>
        </div>
    </div>