<hr>
<div class="container mt-4">
    <div class="aboutYou mt-4">
        <div class="row">
            <div class="col">
                <mat-card>
                    <mat-card-title>
                        <h1>About you</h1>
                        <hr>
                    </mat-card-title>
                    <mat-card-content>
                        <div class="row">
                            <div class="col">
                                <h3>Fullname</h3>
                            </div>
                            <div class="col">
                                <h4>
                                    <span id="profil-info">{{getFullName()}}</span>
                                </h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <h3>Login</h3>
                            </div>
                            <div class="col">
                                <h4>
                                    <span id="profil-info">{{getLogin()}}</span>
                                </h4>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
                <mat-card>
                    <mat-card-content>
                    <h2>You gave us <span id="nbre-avis">{{this.ratesOfUser.length}}</span> reviews on our <span id="nbre-avis">{{this.numberOfShoes}}</span> shoes available. 
                        <br>
                        <p>Thank you !</p> 
                    </h2>
                        <mat-progress-bar mode="determinate" value="{{this.ratesOfUser.length*10}}"></mat-progress-bar>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
    <br>
    <br>
    <hr><br>
    <div class="Rates pb-4">
        
        <mat-card>
            <mat-card-title>
                <h2>Manage your rates : </h2>
            </mat-card-title>
            
        </mat-card>
        <div class="container-flluid" class="tableContainer">
        <table class="table">
            <thead>
                <th>
                    <h2>
                        Shoe Name
                    </h2>
                </th>
                <th>
                    <h2>
                        Amorti Grade
                    </h2>
                </th>
                <th>
                    <h2>
                        Confort Grade
                    </h2>
                </th>
                <th>
                    <h2>Design Grade</h2>
                </th>
                <th>
                    <h2>Durabilite Grade</h2>
                </th>
                <th>
                    <h2>
                        Grip Grade
                    </h2>
                </th>
                <th>
                    <h2>
                        Maintien Grade
                    </h2>
                </th>
                <th></th>
                <th></th>
                <th>
                    <h2>
                        Update
                    </h2>
                </th>
                <th>
                    <h2>
                        Delete
                    </h2>
                </th>
            </thead>
            <tr *ngFor="let rate of this.ratesOfUser">
                <td>
                    <a href="/shoe/{{rate.shoe_id}}">
                        {{rate.shoe_name}}
                    </a>
                </td>
                <td>{{rate.amortiGrade}} / 10</td>
                <td>{{rate.confortGrade}} / 10</td>
                <td>{{rate.designGrade}} / 10</td>
                <td>{{rate.durabiliteGrade}} / 10</td>
                <td>{{rate.gripGrade}} / 10</td>
                <td>{{rate.maintienGrade}} / 10</td>
                <td></td>
                <td></td>
                <td>
                    <a class="action-btn" (click)="openDialog(rate)">
                        <i class="material-icons" >edit</i>
                    </a>
                </td>
                <td>
                    <a class="action-btn" (click)="onDelete(rate._id)">
                        <i class="material-icons">delete</i>
                    </a>
                </td>
            </tr>
        </table>
    </div>
    </div>
</div>