
<mat-toolbar >
      
    <img routerLink="/home"id="logo"src="../assets/img/logotry2-removebg-preview.png"/>
  
    <div id="header-mid">
    <input id="header-search"class="form-control" placeholder="Search">
    </div>  
  <span class="example-spacer"></span>
  <img routerLink="/shoes" routerLinkActive="active-link"id="nav-img"src="assets/img/shoesss.png">
  <button mat-icon-button class="example-icon" routerLink="/profil" routerLinkActive="active-link"aria-label="Example icon-button with menu icon">
    <i class="fa-regular fa-user fa-lg"></i>
  </button>
</mat-toolbar>

    
    
      
    
