<mat-toolbar>

  <img routerLink="/home" id="logo" src="../assets/img/logotry2-removebg-preview.png" alt="SolesAppLogo"/>

  <div id="header-mid">
    <input id="header-search" class="form-control" placeholder="Search">
  </div>
  <span class="example-spacer">
    
  </span>
  <div class="row">
    <div class="col">
      <span>{{getName()}}</span>
    </div>
    <div class="col">
      <button id="login" *ngIf="!isLogged()" mat-raised-button routerLink="/login" routerLinkActive="active-link">Login</button>
    </div>
    <div class="col">
      <button *ngIf="!isLogged()" mat-raised-button routerLink="/register" routerLinkActive="active-link">Registration</button>
    </div>

    <div class="col">
      <img *ngIf="isLogged()" routerLink="/shoes" routerLinkActive="active-link" id="nav-img" src="assets/img/shoesss.png" alt="shoesLink">
    </div>
    <div class="col">
      <button *ngIf="isLogged() && !isAdmin()" mat-icon-button routerLink="/profil" routerLinkActive="active-link">
      <i class="fa-regular fa-user fa-lg"></i>
    </button>
    <div class="col">
      <button *ngIf="isLogged() && isAdmin()" mat-icon-button routerLink="/dashboard" routerLinkActive="active-link">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    </div>
    <div class="col">
      <button *ngIf="isLogged()" mat-icon-button  (click)="logout()">
        <i class="fa fa-sign-out"></i>
      </button>
    </div>
  </div>
</mat-toolbar>